<% if @division.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @division.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h1>New Division</h1>

<%= render "layouts/division_form" %>
