<h2>Project: <%= @project.name %></h2>

<p><%= link_to "Edit project", edit_project_path(@project) %></p>
<p><%= link_to "Delete project", project_path(@project),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>
